.row {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  height: 85px;

  [class*="col-"] {
    padding: 0;
    height: 100%;
  }

  .date {
    background-color: var(--blue-100);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
    border-radius: 10px 0 0 10px;
  
    .day {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
    }
  
    .month {
      font-size: 15px;
      margin: 0;
      color: var(--text-color-secondary);
    }
  }

  .user {
    padding-left: 1rem;
    
    .distance {
      margin: .5rem .5rem 0 0;
      color: var(--text-color-secondary);
      font-size: 13px;
      text-align: right;
    }

    .name {
      font-size: 18px;
      margin: 0;
    }

    .age {
      color: var(--text-color-secondary);
      font-size: 13px;
      margin: 0;
      margin-top: 0.2rem;
    }
  }
}