.row {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 100px;

  [class*="col-"] {
    padding: 0;
    height: 100%;
  }

  .date {
    background-color: var(--blue-100);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
    border-radius: 10px 0 0 10px;
  
    .day {
      font-size: 25px;
      font-weight: 400;
      margin: 0;
    }
  
    .month {
      font-size: 15px;
      margin: 0;
      color: var(--text-color-secondary);
    }
  }

  .user {
    height: 100%;
    display: grid;
    align-content: center;
    padding-left: 1rem;

    .name {
      font-size: 20px;
      margin: 0;
    }

    .nickname {
      color: var(--text-color-secondary);
      margin: 0;
      margin-top: .5rem;
    }
  }
}