.sign-up {
  font-size: 13px;
  color: var(--gray-400);
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.title {
  font-family: cursive;
  margin-bottom: 2rem;
  text-align: center;
}

.link {
  color: #0044ff;
  text-decoration: underline;
}