<app-navigation [route]="'/signup-personal'"></app-navigation>
<div class="container header">
  <h3 class="text-align-center mb-200">Summary</h3>
  <p-table [value]="[account]" responsiveLayout="scroll">
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{ user.firstName }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ user.lastName }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Date Of Birth</td>
        <td>{{ user.dob | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row mt-100">
    <div class="col-12">
      <p-button label="Confirm" icon="pi pi-check" iconPos="left" (onClick)="confirm()"></p-button>
    </div>
  </div>
</div>